<%- include('parts/top.ejs')%>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">

    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
                 <!-- Page Content -->
    <div class="home-heading home-heading-home ">

    </div>
    <div class="col-md-6"><br><br>
        <p class="emailme" >EMAIL ME</p>
        <br>
    <h1 class="newstyletitle">Salhi Fayza</h1>
    <br>
    <p class="MEAN">MEAN Stack Developer</p>
         <hr color="#b3937c"/>
         <h6>About Me</h6>
         <br>

          <p>
    I am an interior designer with extensive experience in the industry. I graduated with a Bachelor of Arts degree in Interior Design from the University of Sunny Vale. My goal is to design spaces that are as functional as they are aesthetically pleasing.
      </p><br><br><br>
<div>
            <a class="text-body px-3" href="">
                <i class="fa fa-facebook-f"></i>
            </a>
            <a class="text-body px-3" href="">
                <i class="fa fa-twitter"></i>
            </a>

            <a class="text-body px-3" href="">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="text-body pl-3" href="">
                <i class="fa fa-youtube" ></i>
            </a>
        </div>
    </div>
            </div>
        </div>
    </div>



<br>

    <%-include('parts/bottom.ejs')%>