<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">

            <p>Copyright &copy; <a class="mycopy">Salhi Fayza </a> MEAN Stack Developer 2023</p>
            </span>
        </div>
    </div>
</footer>